
/* colors */
$blue-color : blue;
$white-color: white;
$black-color: black;
$border-gray: rgb(197, 193, 193);
$box-gray: gray;
$input-color: #f1f1f1;
$footer-color: aliceblue;

/* font sizes */
$h1-font-size:  5rem;
$general-font-size: 2rem;
$box-font-size: 1.3rem;
$button-font-size: 1.5rem;

/* images */
$first-page-img: url("../assets/cover.jpg");
$second-page-img: url("../assets/cover2.jpg");

/* sizes */

$nav-height : 150px;
